.navbar .navbar-profile {
  margin-left: auto;
}

.navbar .navbar-profile img {
  width: 35px;
}

@media screen and (min-width: 992px) {
  .navbar .navbar-profile {
    order: 1;
    margin-left: initial;
  }
}

.page-wrapper {
  display: flex;
}

.sidebar {
  position: fixed;
  flex-basis: 225px;
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-225px);
  width: 225px;
  height: 100vh;
  z-index: 10;
  padding-top: 56px !important;
}

.main-content {
  position: relative;
  min-width: 0;
  flex-grow: 1;
  min-height: calc(100vh - 56px);
  margin-left: -225px;
  padding-left: 225px;
  top: 56px;
  background-color: #f0f0f0;
}

.sidebar-toggler-show {
  display: inline-block !important;
}

.sidebar-toggler-hide {
  display: none !important;
}

.sidebar-toggled .sidebar {
  transform: translateX(0);
}

.sidebar-toggled .sidebar-toggler-show {
  display: none !important;
}

.sidebar-toggled .sidebar-toggler-hide {
  display: inline-block !important;
}

/* .sidebar-toggled .main-content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
} */

@media screen and (min-width: 768px) {
  .sidebar {
    transform: translateX(0);
  }
  
  .main-content {
    margin-left: 0;
    transition: margin 0.3s ease-in-out;
  }
  
  .sidebar-toggled .sidebar {
    transform: translateX(-225px);
  }
  
  .sidebar-toggled .main-content {
    margin-left: -225px;
  }

  .sidebar-toggler-show {
    display: none !important;
  }
  
  .sidebar-toggler-hide {
    display: inline-block !important;
  }
  
  .sidebar-toggled .sidebar-toggler-show {
    display: inline-block !important;
  }
  
  .sidebar-toggled .sidebar-toggler-hide {
    display: none !important;
  }

  /*   .sidebar-toggled .main-content:before {
    display: none;
  } */
}

.sidebar-submenu-button {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}

.sidebar-submenu-button:not(#personas)::before {
  width: 1.25em;
  line-height: 0;
  font-family: FontAwesome;
  content: "\f054";
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.sidebar-submenu-button#personas {
  margin-left: 1.25em;
}

.sidebar-submenu-button[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.sidebar-submenu a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.list-group .list-group-item img {
  width: 50px;
}